main {
    padding-top: 67px;
}

.video-grid {
    margin: 0px 10px 14px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 8px;
    row-gap: 22px;
}

.video-card {
    /* vertical-align: top; */
    max-width: 380px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.thumbnail  {
    width: 100%;
    border-radius: 2px;
}

.meta-data {
    display: grid;
    grid-template-columns: 53px 1fr;
}

.channel-pic {
    width: 36px;
    border-radius: 50px;
}

.details-grid {
    display: grid;
    gap: 5px;
}

.video-title {
    font-size: 14px;
    line-height: 23px;
    font-weight: 600;
    margin-bottom: 10px;
}

.channel-name, .video-views-and-age {
    font-size: 13px;
    color: rgb(96, 96, 96);
    font-weight: 400;
}

